# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# If you use a custom build directory, add it here
# [custom-build-dir]/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.settings/
.project
.classpath
.factorypath

# NetBeans
nbproject/private/
nbproject/Makefile-genesis.properties
nbproject/Package-*.bash
nb-configuration.xml
nbactions.xml

# Visual Studio Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
